/* DRAGGABLE DIV VISUAL */
.draggable:hover {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(64, 224, 208, 0.81));
  filter: drop-shadow(0px 0px 5px rgba(64, 224, 208, 0.81));
  cursor: move;
}

.draggableselected {
  -webkit-filter: drop-shadow(0px 0px 5px rgba(255, 255, 40, 1));
  filter: drop-shadow(0px 0px 5px rgba(255, 255, 40, 1));
}

.dragHandle {
  position: absolute;
  border: 1px solid black;
  border-radius: 2px;
  background-color: white;
  padding: 3px;
  cursor: nesw-resize;

  z-index: 9999999;
}

@media only screen and (max-width: 768px) {
  .dragHandle {
      padding: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .hovershadow {
      box-shadow: 0px 0px 0px rgb(0 0 0 / 16%);
      transition: box-shadow 0.1s ease-in-out;
  }

  /* Transition to a bigger shadow on hover */
  .hovershadow:hover {
      box-shadow: 4px 4px 0px rgb(0 0 0 / 16%);
  }

  /* Transition to a bigger shadow on hover */
  .hovershadow:active {
      box-shadow: 2px 2px 0px rgb(0 0 0 / 16%);
  }
}

.dragHandle2 {
  position: absolute;
  padding: 12px;
  border: 1px solid black;
  background-color: white;
  padding: 3px;
  z-index: 9999999;
  cursor: sw-resize;
}

/* CONTROL PANEL */

.cpanel {
  min-width: 10px;
  border: 1px solid black;
  background-color: rgba(255, 255, 255, 0.64);
  backdrop-filter: blur(8px);
  border-radius: 3px;
  z-index: 9999999999;
}

.cpanel-col-buttons:hover > * {
  opacity: 0.5;
}

.cpanel-col-buttons:hover > *:hover {
  transform: scale(1.1);
  opacity: 1;
}

.cpanel-shadow {
  box-shadow: 4px 4px 0px rgb(0 0 0 / 16%);
}

.cpanel-col:not(:last-child) {
  border-right: 1px solid black;
}

.clabel {
  font-size: 12px;
  font-weight: bold;
  color: black;
  padding: 5px;
}

.cbutton {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 3px;
  cursor: pointer;
}

.cbuttoninner {
  width: 25px;
  height: 25px;
}

.cbuttoninner:hover {
  background-color: rgba(1, 1, 1, 0.1);
}

.cbuttoninner-selected {
  background-color: rgba(1, 1, 1, 0.3);
}

.cbuttonmain {
  border: 1px solid black;
  color: black;
  background-color: white;
  width: 52px;
  height: 52px;
}

.flexRow {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.minimal-input {
  border: none;
}

.minimal-input:focus {
  outline: none;
}

/* [contenteditable]:focus {
  outline: 0px solid transparent;
} */

/* Tooltip container */
.tooltip {
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
  margin-right: 200px;
  position: absolute;
  z-index: 1;
}

.tooltip .tooltipbottom {
  margin-top: 80px;
  margin-right: 0px;
  margin-left: 0px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

#page-center-align-guide {
  left: 50%;
  transform: translateX(50vw);
  touch-action: none;
  pointer-events: none;
  z-index: 99999999;
}

.page-align-guide:not(.active) {
  opacity: 0;
}

.page-align-guide {
  height: 100vh;
  position: fixed;
  width: 1px;
  border-right: 1px solid red;
  z-index: 99999999;
  top: 0;
  touch-action: none;
  pointer-events: none;
}

.mobile-align-guide {
  border-right: 1px solid grey;
  touch-action: none;
  pointer-events: none;
}

.mobile-align-bg {
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 99999999;
  touch-action: none;
  pointer-events: none;
}

/*
Interthing Guide
*/

.interthing-line {
  width: 1px;
  height: 1rem;
  background: lightblue;
  position: absolute;
  z-index: 9999999;

  touch-action: none;
  pointer-events: none;
}

.interthing-line-nub {
  position: absolute;

  height: 4px;
  width: 4px;
  background-color: red;
  transform: translate(-50%, -50%);

  display: block;
  z-index: 999999999;

  touch-action: none;
  pointer-events: none;
}

#builder-drag-select-box {
  --selection-color-rgb: 71, 160, 244;
  --selection-color: rgba(255, 255, 0, 1);

  display: block;
  position: absolute;

  background: rgba(var(--selection-color), 0.2);
  border: var(--line-width) solid var(--selection-color);
  z-index: 999999999;

  box-sizing: border-box;
}

/* SECTION: spinning circle animation  */

.brocorpSaveSpinner {
  transition: opacity 0.3s;
  opacity: 0;
}

.brocorpSaveSpinner:hover {
  transition: opacity 0.3s;
  opacity: 1;
}

.cssload-wrap {
  width: 55px;
  height: 55px;
  margin: 27px auto;
  position: relative;
  perspective: 1100px;
  -o-perspective: 1100px;
  -ms-perspective: 1100px;
  -webkit-perspective: 1100px;
  -moz-perspective: 1100px;
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
}

.cssload-circle {
  transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  box-sizing: border-box;
  -o-box-sizing: border-box;
  -ms-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  opacity: 0;
  width: 55px;
  height: 55px;
  border: 1px solid rgba(255, 255, 255, 0.8);
  border-radius: 41px;
  position: absolute;
  top: 0;
  left: 0;
  animation: cssload-spin 12.5s ease-in-out alternate infinite;
  -o-animation: cssload-spin 12.5s ease-in-out alternate infinite;
  -ms-animation: cssload-spin 12.5s ease-in-out alternate infinite;
  -webkit-animation: cssload-spin 12.5s ease-in-out alternate infinite;
  -moz-animation: cssload-spin 12.5s ease-in-out alternate infinite;
}
.cssload-circle:nth-of-type(1) {
  animation-delay: 375ms;
  -o-animation-delay: 375ms;
  -ms-animation-delay: 375ms;
  -webkit-animation-delay: 375ms;
  -moz-animation-delay: 375ms;
}
.cssload-circle:nth-of-type(2) {
  animation-delay: 750ms;
  -o-animation-delay: 750ms;
  -ms-animation-delay: 750ms;
  -webkit-animation-delay: 750ms;
  -moz-animation-delay: 750ms;
}
.cssload-circle:nth-of-type(3) {
  animation-delay: 1125ms;
  -o-animation-delay: 1125ms;
  -ms-animation-delay: 1125ms;
  -webkit-animation-delay: 1125ms;
  -moz-animation-delay: 1125ms;
}
.cssload-circle:nth-of-type(4) {
  animation-delay: 1500ms;
  -o-animation-delay: 1500ms;
  -ms-animation-delay: 1500ms;
  -webkit-animation-delay: 1500ms;
  -moz-animation-delay: 1500ms;
}
.cssload-circle:nth-of-type(5) {
  animation-delay: 1875ms;
  -o-animation-delay: 1875ms;
  -ms-animation-delay: 1875ms;
  -webkit-animation-delay: 1875ms;
  -moz-animation-delay: 1875ms;
}

@keyframes cssload-spin {
  0% {
      transform: rotateY(0deg) rotateX(0deg);
      opacity: 1;
  }
  25% {
      transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
      transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
      transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
      transform: rotateY(900deg) rotateX(1080deg);
      opacity: 1;
  }
}

@-o-keyframes cssload-spin {
  0% {
      -o-transform: rotateY(0deg) rotateX(0deg);
      opacity: 1;
  }
  25% {
      -o-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
      -o-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
      -o-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
      -o-transform: rotateY(900deg) rotateX(1080deg);
      opacity: 1;
  }
}

@-ms-keyframes cssload-spin {
  0% {
      -ms-transform: rotateY(0deg) rotateX(0deg);
      opacity: 1;
  }
  25% {
      -ms-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
      -ms-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
      -ms-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
      -ms-transform: rotateY(900deg) rotateX(1080deg);
      opacity: 1;
  }
}

@-webkit-keyframes cssload-spin {
  0% {
      -webkit-transform: rotateY(0deg) rotateX(0deg);
      opacity: 1;
  }
  25% {
      -webkit-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
      -webkit-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
      -webkit-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
      -webkit-transform: rotateY(900deg) rotateX(1080deg);
      opacity: 1;
  }
}

@-moz-keyframes cssload-spin {
  0% {
      -moz-transform: rotateY(0deg) rotateX(0deg);
      opacity: 1;
  }
  25% {
      -moz-transform: rotateY(180deg) rotateX(360deg);
  }
  50% {
      -moz-transform: rotateY(540deg) rotateX(540deg);
  }
  75% {
      -moz-transform: rotateY(720deg) rotateX(900deg);
  }
  100% {
      -moz-transform: rotateY(900deg) rotateX(1080deg);
      opacity: 1;
  }
}


/* body {
  max-width: 100vw;
} */

.modal {
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}